<form class="form-horizontal well well-sm" >
    <input type="hidden" ng-model="schedule.id"/>
    <div class="form-group">
        <label class="col-xs-2 input-sm">Switch</label>
        <div class="col-xs-5">
            <select ng-options="key as value for (key, value) in switches" ng-model="schedule.switch"
                    class="form-control input-sm" ng-disabled="!switches || schedule.id"></select>
        </div>
        <div class="col-xs-5">
            <select ng-options="key as value for (key, value) in states" ng-model="schedule.state"
                    class="form-control input-sm" ng-disabled="schedule.id"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 input-sm">Duration</label>
        <div class="col-xs-5">
            <input ng-model="schedule.duration" class="form-control input-sm"/>
        </div>
        <div class="col-xs-5">
            <select ng-options="key as value for (key, value) in {1: 'Minutes', 60: 'Hours'}" ng-model="schedule.multiplier"
                    class="form-control input-sm"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 input-sm">Schedule</label>
        <div class="col-xs-10 form-group-sm">
            <cron-selection config="config" ng-model="schedule.schedule"></cron-selection>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10 col-xs-push-2">
            <button class="btn btn-info" ng-click="save(schedule)">Save task</button>
            <button class="btn btn-default" ng-click="hideForm()">Cancel</button>
        </div>
    </div>
</form>
