<div class="container" ng-init="device.load(model)">
    <div ng-include="views/partials/error.html"></div>
    <div class="row" ng-repeat="(key,switch) in device.data._embedded">
        <div class="col-xs-6">{{ switch.name }}</div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-block" ng-disabled="loading"
                    ng-class="{'label-danger': '0' == switch.state, 'label-success': '1' == switch.state}" ng-click="toggleSwitch(key, '1' == switch.state ? '0' : '1')">
                {{ '0' == switch.state ? 'Turn on': 'Turn off' }}
            </button>
            <br/>
        </div>
    </div>
    <div class="row" ng-include="'views/partials/update.html'"></div>
</div>
