            <div ng-include="'views/partials/error.html'"></div>

    <p class="text-center" ng-show="switchDevice.loading">
        <img src="images/preloader_small.gif" alt="loading"/>
    </p>
    <div ng-repeat="group in switchDevice.data">
        <h4 class="text-center hidden-xs">{{ group.name }}</h4>
        <div class="row">
            <div class="col-xs-4 col-lg-3" ng-repeat="(key, switch) in group.switches">
                <strong class="switch-name">{{ switch.name }}</strong>
                <small ng-show="switch.scheduled && !switch.stateless">
                    <span class="label" ng-class="{'label-danger': '0' == switch.scheduled.state, 'label-success': '1' == switch.scheduled.state}">
                        {{ '1' == switch.scheduled.state ? 'On': 'Off' }}
                    </span>&nbsp;
                    {{ switch.scheduled.when | date : 'shortTime' }}
                </small>
                <div style="margin-top: 0.5em"></div>
                <div class="btn-group" role="group" ng-if="'two_way' == switch.type">
                    <button type="button" class="btn btn-info" ng-disabled="switch.up.loading" ng-click="toggleSwitch(switch, 'up')">
                        <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-info hidden-xs" ng-disabled="switch.stop.loading" ng-click="toggleSwitch(switch, 'stop')">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-disabled="switch.down.loading" ng-click="toggleSwitch(switch, 'down')">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    </button>
                </div>
                <div ng-if="'click' == switch.type || 'click_sequence' == switch.type">
                    <button type="button" class="btn btn-info" ng-disabled="switch.loading" ng-click="toggleSwitch(switch, 'click')">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </div>
                <div ng-class="{'btn-group': switch.durations && switch.durations.length > 1}" role="group" ng-if="'ethernet' == switch.type">
                    <button type="button" class="btn btn-autosize"
                            ng-disabled="switch.loading || switch.state === null"
                            ng-class="{'label-danger': '0' == switch.state, 'label-success': '1' == switch.state}"
                            ng-click="toggleSwitch(switch, '1' == switch.state ? '0' : '1', switch.durations && switch.durations.length == 1 ? switch.durations[0] : null)">
                        &nbsp;<span class="glyphicon" ng-class="{
                            'glyphicon-off': '1' == switch.state && (!switch.durations || switch.durations.length > 1),
                            'glyphicon-play-circle': '0' == switch.state && (!switch.durations || switch.durations.length > 1),
                            'glyphicon-time': switch.durations && switch.durations.length == 1
                            }"></span>&nbsp;
                    </button>
                    <div class="btn-group" ng-show="switch.durations && switch.durations.length > 1">
                        <button type="button" ng-disabled="switch.loading || switch.state === null" class="btn dropdown-toggle btn-autosize" data-toggle="dropdown"
                                ng-class="{'label-danger': '0' == switch.state, 'label-success': '1' == switch.state}">
                            &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="duration in switch.durations">
                                <a ng-click="toggleSwitch(switch, '1' == switch.state ? '0' : '1', duration)">{{ duration | durationLiteral }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center">
        <img src="images/preloader_small.gif" alt="loading" ng-show="sensorDevice.loading"/>
    </p>
    <div class="row">
        <div ng-repeat="sensor in sensorDevice.data" class="col-xs-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <small><strong>{{ sensor.name }}</strong></small>
                </div>
                <div class="panel-body text-center">
                    <span ng-class="{ 'text-danger': sensor.value <= 0, 'text-warning': sensor.value < 4 && sensor.value > 0 }">
                        {{ sensor.value }}&deg;C
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-include="'views/partials/update.html'"></div>
