<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-info" ng-click="showForm({
            state: '1',
            duration: 30,
            multiplier: '1',
            schedule: ''
        })">Create</button>
        <br/>
        <br/>
    </div>
</div>
<div class="row text-center" ng-show="!schedules._embedded">
    <img src="images/preloader.gif" alt="loading" style="float: none; margin: 0 auto"/>
</div>
<div class="table-responsive" ng-show="schedules._embedded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Switch</th>
                <th class="hidden-xs">Duration</th>
                <th>Schedule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="schedule in schedules._embedded">
                <td>
                    <span class="label"
                            ng-class="{
                                'label-danger': '0' == schedule.state,
                                'label-success': '1' == schedule.state,
                                'label-info': 'up' == schedule.state || 'down' == schedule.state || 'click' == schedule.state
                                }">
                        {{ schedule.name}}
                    </span>&nbsp;
                    <span class="label label-info" ng-show="'up' == schedule.state || 'down' == schedule.state">
                        <br class="visible-xs">
                        {{ schedule.state }}
                    </span>
                </td>
                <td class="cron-duration hidden-xs">
                    {{ schedule.duration | duration }}
                </td>
                <td class="cron-schedule">
                    {{ schedule.schedule }}
                    <small class="visible-xs">{{ schedule.duration | duration }}</small>
                </td>
                <td class="schedule-actions">
                    <button class="btn btn-danger btn-sm" ng-click="remove(schedule)" href=""><span class="glyphicon glyphicon-remove-circle"/></span></button>&nbsp;&nbsp;
                    <button class="btn btn-info btn-sm" ng-click="showForm(schedule)" href=""><span class="glyphicon glyphicon-edit"/></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
