<form class="form-horizontal well well-sm" >
    <div class="form-group">
        <label class="col-xs-2 input-sm">Switch</label>
        <div class="col-xs-5">
            <select ng-options="key as value for (key, value) in switches" ng-model="new.switch"
                    class="form-control input-sm" ng-disabled="!switches"></select>
        </div>
        <div class="col-xs-5">
            <select ng-options="key as value for (key, value) in states" ng-model="new.state"
                    class="form-control input-sm"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 input-sm">Duration</label>
        <div class="col-xs-5">
            <input ng-model="new.duration" class="form-control input-sm"/>
        </div>
        <div class="col-xs-5">
            <select ng-options="key as value for (key, value) in {1: 'Minutes', 60: 'Hours'}" ng-model="new.multiplier"
                    class="form-control input-sm"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 input-sm">Schedule</label>
        <div class="col-xs-10 form-group-sm">
            <cron-selection config="config" output="new.schedule"></cron-selection>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10 col-xs-push-2">
            <input type="button" class="btn btn-info btn-sm" value="Add task" ng-click="addSchedule()" ng-disabled="adding"/>
        </div>
    </div>
</form>
<br/>
<div class="row" style="text-align: center" ng-show="!schedules._embedded">
    <img src="images/preloader.gif" alt="loading" style="float: none; margin: 0 auto"/>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Switch</th>
                <th>Duration</th>
                <th>Schedule</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="schedule in schedules._embedded">
                <td>
                    <span class="label"
                            ng-class="{
                                'label-danger': '0' == schedule.state,
                                'label-success': '1' == schedule.state,
                                'label-info': 'up' == schedule.state || 'down' == schedule.state || 'click' == schedule.state
                                }">
                        {{ schedule.name}}
                    </span>&nbsp;
                    <span class="label label-info" ng-show="'up' == schedule.state || 'down' == schedule.state">
                        {{ schedule.state }}
                    </span>
                </td>
                <td>
                    {{ schedule.duration | duration }}
                </td>
                <td>
                    <cron-selection output="scheduleOut.cron" init="schedule.schedule" config="config" isreadonly="true"></cron-selection>
                </td>
                <td>
                    <a ng-click="removeSchedule(schedule)" href=""><span class="glyphicon glyphicon-remove-circle"/></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
