<div class="container" ng-init="device.load(model)">
    <div ng-include="views/partials/error.html"></div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Sensor key</th>
                    <th>Current value</th>
                    <th>Min value</th>
                    <th>Max value</th>
                    <th>Avg value</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5" ng-include="'views/partials/update.html'"></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="(key,sensor) in device.data._embedded">
                    <td class="col-xs-4">{{ sensor.name }}</td>
                    <td class="col-xs-2" ng-class="{'text-danger' : sensor.value < 0}">{{ sensor.value }} &deg;C</td>
                    <td class="col-xs-2">n/a</td>
                    <td class="col-xs-2">n/a</td>
                    <td class="col-xs-2">n/a</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
